<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">Life is a journey not a destination.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>1995-2011</h4>
                                <h4 class="subheading">Humble Beginnings</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Raised by a single mother with six kids in Ottawa, Ontario, Canada my childhood was certainly unique. As I quickly found interest in information technologies my career path began to point toward computer science.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>May 2011</h4>
                                <h4 class="subheading">A Brand is Born</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">From an early age I began generating professional quality content on the internet under the persona 'DrPlaystationNation'. My brand quickly grew a catalog of over 1300 videos, 100 thousand+ subscribers, and a combined 12 Million+ views. </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>April 2014 - October 2015</h4>
                                <h4 class="subheading">Building a Business</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">I used my social media following to pool my audience to a new business platform, MCWarside. I would go on to create a community of tens of thousands of members generating over $30 000 a month</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>September 2013 - April 2019</h4>
                                <h4 class="subheading">Pursueing an education</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Though my businesss offered me financial stability I still had a strong desire to work professionally in the field of IT. My degree in Computer Science is the perfect tool to accomplish this.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>September 2016 - May 2017</h4>
                                <h4 class="subheading">My Professional Career</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Ciena Blueplanet was the company I chose to host my first internship. I worked for Ciena over a period of 8 months, during which I took part in every step of the UI and backend development cycle.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4><i class="fa fa-hourglass-half fa-4x" aria-hidden="true"></i></h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

{{yield}}
